//colors
$dark-grey: #333333;
$grey: #666;
$blue-accent: rgb(21, 134, 199);
$dark-blue: #364051;
$off-white: #f7f7f7;
//sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


//elevations
$low-elevation: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);